<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="author" content="http://www.sigimera.org">
        <title>Sigimera API - Test Client</title>
    </head>

    <body>
        <a href="https://github.com/Sigimera/sigimera-test-client/tree/master/sinatra" target="_blank">
            <img style="position: absolute; top: 40px; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub">
        </a>

        <div class="hero-unit">
            <h1>Sigimera API - Test Client</h1>
            <p align="justify">
            This application is an example client that demonstrates the use of the Sigimera REST API.
            Please feel free to fork this Sinatra App on
            <a href="https://github.com/Sigimera/sigimera-test-client/tree/master/sinatra" target="_blank">GitHub</a> and
            adapt it to your needs.<br/>
            </p>
        </div>

        <section>
        <h2>Getting Started</h2>
        <dl class="dl-horizontal">
            <dt><span class="badge badge-info">1. Step</span></dt>
            <dd>Exploit this website: <a href="/red_alerts">Red Alerts</a></dd>

            <dt><span class="badge badge-info">2. Step</span></dt>
            <dd>Clone (and/or fork) the source code on
            <a href="https://github.com/Sigimera/sigimera-test-client/tree/master/sinatra" target="_blank">GitHub</a>.</dd>

            <dt><span class="badge badge-info">3. Step</span></dt>
            <dd>Develop your own app on the base of the <a href="http://www.sigimera.org/api/v1/" target="_blank">Sigimera REST API</a>.</dd>
        </dl>
        </section>

        <section>
        <h2>Source Code Outline</h2>
        <p align="justify">
        The following code snippets describe the important parts of this example code. The other things are only needed
        to keep this website running and to improve the style.
        </p>

        <h3>Crises Controller</h3>

<pre class="brush: ruby;">
get '/red_alerts' do
    @crises = JSON(get_crises(1, nil, 'red'))
    erb :red_alerts
end
</pre>

        <h3>Crises API Call</h3>

<pre class="brush: ruby;">private
def get_crises(page = 1, type = nil, alert_level = nil)
    url = "http://www.sigimera.org/api/v1/crises?auth_token=#{settings.auth_token}&page=#{page}"
    unless type.nil?
        url += "&type=#{type}"
    end

    unless type.nil?
        url += "&type=#{type}"
    end

    unless alert_level.nil?
        url += "&level=#{alert_level}"
    end

    crises_endpoint = open(url)
    crises = crises_endpoint.read
    crises_endpoint.close
    crises
end
</pre>

        <h3>Visualization with erb</h3>

<pre class="brush: ruby;">
&lt;dl class="dl-horizontal"&gt;
    &lt;% @crises.each do |crisis| %&gt;
        &lt;dt&gt;Red &lt;%= crisis['dc_subject'][0] %&gt;&lt;/dt&gt;
        &lt;dd&gt;&lt;%= crisis['dc_description'] %&gt; - &lt;%= crisis['updated_at'] %&gt;&lt;/dd&gt;
   &lt;% end %&gt;
&lt;/dl&gt;
</pre>

        </section>

    </body>
</html>
